@font-face {
    font-family: 'Brown2018-Regular';
    font-style: normal;
    font-weight: 400;
    src:
      local('Brown2018-Regular'),
      url(/static/fonts/Brown2018-Regular.ttf) format('truetype')
};

$font-size: 18px;
$font-size-title: 32px;
$bg-color:white;
$font-ftv:Brown2018-Regular;
$font-color:#212830;
$font-scnd-color:#b2b2b2;
$font-ftv:'Brown2018-Regular';

.home_container {
    color:$font-color;
    background-color: $bg-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: $font-ftv;
    line-height: 1.55;
    margin-top: 105px;

    &--first{
        width: 38%;
        padding-left: 12%;
    }
    &--second{
        width: 60%;
    }
    &_text {
        width: 70%;
        margin:130px auto;
        &-title{
            font-size: $font-size-title;
            line-height: 1.25;
            span{
                color: #0281e6;
            }
        }
        &-subtitle{
            color: $font-scnd-color;
            font-size: $font-size;
            padding-top: 4%;
        }
    }
    &_image{
        display: flex;
        background:url('/static/Oval.png') right center no-repeat;
        height: 100%;
        img{
            width: 80%;
            margin: auto;
        }
    }
}