@font-face {
    font-family: 'Brown2018-Regular';
    font-style: normal;
    font-weight: 400;
    src:
      local('Brown2018-Regular'),
      url(/static/fonts/Brown2018-Regular.ttf) format('truetype')
};

$font-size: 16px;
$font-color:white;
$bg-color-first:#000;
$bg-color-second:rgb(25, 30, 37);
$font-ftv:'Brown2018-Regular';


.container {
    font-family: "Brown2018-Regular";
    font-size: $font-size;
    color: $font-color;
    font-family: $font-ftv;
    line-height: 1.55;

    
  &--first{
      background-color: $bg-color-first;
      width: 100%;
      height: 30px;
      display: flex;
      justify-content: space-between;
      position: fixed;
      top: 0;
      &--hidden{
          top: -50px;
      }
  }
  &--second{
      background-color: $bg-color-second;
      width: 100%;
      height: 80px;
      position: fixed;
      top: 30px;
      &--scrolled{
          top: 0;
      }
  }
}
.nav{
    &--left{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width:28%;
        cursor: pointer;
    }
    &_img{
        height: 15px;
        margin: auto;
    }
    &_items{
        margin: auto;
        opacity: .8;
        transition: opacity .1s ease-out;
        cursor: pointer;
        &:hover{
            opacity: 1;
        }
        &-button{
            background-color: transparent;
            color: $font-color;
            border-radius: 15px;
            cursor: pointer;
        }
    }
    &--right{
        display: flex;
        justify-content: space-around;
        width: 17%;
        margin-right: 8%;
        cursor: pointer;

    }
}


.menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width:60%;
    height: 100%;
    &_items {
        font-family: "Brown2018-Regular";
        margin: auto;
        opacity: .8;
        transition: opacity .1s ease-out;
        cursor: pointer;
        &:hover{
            opacity: 1;
        }
    }
    &-image{
        margin: auto;
    }
    &-search:after{
        content: "";
        background: url('/static/search.png') top center no-repeat;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-left: 10px;
    }
}