$font-size: 18px;
$font-size-title: 26px;
$font-color:#b2b2b2;
$bg-color:#f2f2f2;


.service_container{
    width:80%;
    margin: 4% auto;
    padding-bottom: 30px;
    &--first,
    &--second,
    &--third{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 100px 60px;
    }
    &--first &_text{
        padding-left: 100px;
    }
    &--second &_text,
    &--third &_text{
        padding-right: 100px;
       
    }
    &_image,
    &_text{
        width: 48%;
    }
    &_text{
        margin: auto;
        &-title{
            font-size: $font-size-title;
        }
        &-subtitle{
            font-size: $font-size;
            color: $font-color;
            padding: 30px 0;
        }
        &-cta{
            color: #eb0032;
            &:after{
                content: "";
                background-image: url('/static/right-arrow.svg');
                background-repeat: no-repeat;
                display: inline-block;
                width: 20px;
                height: 15px;
                margin-left: 10px;

            }
        }
    }
    &_image {
        img{
            width:100%;
        }
    }
}